*{
    max-width: 430px;;
    background-color: #ffffff;
    box-sizing: border-box;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}
.hero-navbar{
    background-color: #ffffff;
    color: #292929;
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-weight: 700;
    height: 120px;
    width: 100%;
    align-items: center;
}
.navbar-logo{
        display: flex;
        align-items: center;
        gap:5px;
        justify-content: space-around;
        font-size: 20px;
        margin: 56.5px 0 36.5px 22px;
    }
.nav-logo-1{
    fill: #000000;
}
.navbar-menu{
    /* margin: 61.67px 27px 41.67px 0; */
    padding: 50px 22px 30px
}
/* .menu-svg {
    color: #000000;
} */
.menu-svg-1{
    stroke: #000000;
}
.intro-name{
    padding-top: 40px;
    gap: 1px;
}
.text-1{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Anton;
    color: #f0f8ff;
    font-weight: 300px;
    font-size: 120px;
    box-sizing: border-box; */
    width: 100%;
    font-size: 198px;
    font-family: Anton;
    display: flex;
    justify-content: center;
    color: #000000;
    /* flex: none; */
    /* order: 0; */
    /* flex-grow: 0; */
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    font-family: 'Anton';
/* or 99px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.03em;
}
.text-2{
    font-family: Anton;
    background: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 130%;
    /* padding-top: 10px; */
    font-weight: 300px;
    font-size: 64px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.intro-buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.icon-logos{
    /* display: flex;
    align-items: center;
    margin-; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 34.62px;
    width: 366px;
    height: 40px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 62px;
    margin-bottom: 54px;
    fill: #000000;
    stroke: #000000;
}
.text-button{
    position: relative;
    display: flex;
    color: #ffffff;
    align-items: center;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    width: 366px;
    background-color: #292929;
    padding: 16px 68.5px 16px 48.5px;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    flex: none;
    margi
}
.text-download{
    position: absolute;
    bottom: 35.42%;
    /* left: 37.5%; */
    right: 10%;
    top: 33%;
    background-color: #292929;

}
.mode-change{
    border: 1px gray;
    color: #ffffff;
    border-radius: 5px;
    background-color:#000000;
    padding: 15px;
    margin: 20px;
}


